VUE_APP_ADMIN=http://localhost:3030
VUE_APP_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYwYTI1NDEwYWJlMTRhMDA1YjNjMzE3NCIsIm5hbWUiOiJUYWxsb3MgQWRtaW4iLCJlbWFpbCI6Indlc2xleS5hbG1laWRhQHRhbGxvcy5jb20uYnIiLCJwZXJmaWwiOiJhZG1pbiIsImlhdCI6MTYyMTU5NjA2MSwiZXhwIjoxNjIxNjgyNDYxfQ.Z1GSATaPd_PK8objITN4kDpUv-phCtykuDZrGagcrYY